# requirements.txt

# --- Backend & Web Server ---
flask
gunicorn
python-dotenv
flask-cors

# --- Banco de Dados ---
SQLAlchemy
psycopg2-binary

# --- Análise de Dados ---
pandas
numpy
scipy
openpyxl
scikit-learn

# --- Dependências Internalizadas (para o nosso coletor de dados) ---
requests
duckdb
pyarrow
