# requirements.txt

# --- Backend & Web Server ---
# Responsáveis por rodar a aplicação web com Flask.
flask
gunicorn
python-dotenv
flask-cors

# --- Banco de Dados e ORM ---
# Para conexão com o banco de dados PostgreSQL e manipulação dos dados.
SQLAlchemy
psycopg2-binary

# --- Análise de Dados ---
# Bibliotecas para manipulação de dados e cálculos científicos.
pandas
numpy
scipy
openpyxl
scikit-learn

# --- Utilitários Internalizados ---
# Dependências que nosso coletor de dados (internalizado) usa.
requests
beautifulsoup4
duckdb
pyarrow
