/* modelfleuriet/frontend/src/index.css */

/* Importe a fonte Inter para toda a aplicação */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}